@import "tailwindcss";

:root {
  --background: #e7e7e3;
}
@theme {
  --color-primary: #4a69e2;
  --color-dark-gray: #232321;
  --color-yellow: #ffa52f;

  --font-rubik: var(--font-rubik);
}

body {
  background: var(--background);
}

.hero-title{
    font-size: clamp(3.75rem, 1.069rem + 10.724vw, 13.938rem)
}