@import "tailwindcss";

:root {
  --background: #e7e7e3;
}
@theme {
  --color-primary: #4a69e2;
  --color-dark-gray: #232321;
  --color-yellow: #ffa52f;

  --font-rubik: var(--font-rubik);
}

body {
  background: var(--background);
}

.hero-title{
    font-size: clamp(60rem, 22.385rem + 167.179vw, 223rem)
}